- const companyName = 'StoutSource';
- const companyTitle = `${companyName} — title text`;
- const companyDescription = `${companyName} — description text`;
- const companyKeywords = `${companyName}, ...`;

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title #{companyTitle}

    //- Responsive
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content=320)

    //- Schema.org
    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "#{companyName}",
        "url": "https://stoutsource.com",
        "email": "",
        "logo": "",
        "description": "#{companyDescription}",
      }

    //- OpenGraph
    meta(property='og:title', content=companyTitle)
    meta(property='og:site_name', content=companyTitle)
    meta(property="og:description", content=companyDescription)
    meta(property='og:url', content='https://stoutsource.com')
    meta(property='og:keywords', content=companyKeywords)
    meta(property='og:image', content='')

    meta(name='author', content=companyName)
    meta(name='description', content=companyDescription)
    meta(name='keywords', content=companyKeywords)

    meta(name='robots', content='index, follow')

    link(rel='stylesheet', href='css/index.css')
    link(rel='shortcut icon', type='image/x-icon', href='')

  body
    header.header
      a.header__logo(href='/')
        img(src='', alt=companyName)

      nav.header__menu
        a.header__link(href='#services') Services
        a.header__link(href='#team') Team
        a.header__link(href='#projects') Projects
        a.header__link(href='#contacts') Contacts

      a.header__hamburger(href='#menu')
        span
        span
        span

    section.welcome
      a.welcome__scroll(href='#services')
      .welcome__message Tagline text <br> more tagline text! <br>
        a.btn.btn--bg.welcome__btn(href='#contacts') Contact us!

    section.services#services
      .section-title
        h1 Services

    section.team#team
      .section-title
        h1 Team

      .container
        .row
          .col-md-3.col-sm-6
            .team__member(itemtype='http://schema.org/Person', itemscope)
              .team__member__name(itemprop='name') Nikita Chebykin
                .team__member__labels
                  span.team__label.team__label--lead(itemprop='jobTitle') Lead
                  span.team__label.team__label--fullstack(itemprop='jobTitle') Full-stack

              img.team__member__avatar(itemprop='image', alt='Nikita Chebykin')

              .team__member__social
                a.social__icon(itemprop='sameAs', href='', title='Website', target='_blank')
                  i.fa.fa-globe
                a.social__icon(itemprop='sameAs', href='', title='Vkontakte', target='_blank')
                  i.fa.fa-vk
                a.social__icon(itemprop='sameAs', href='', title='Facebook', target='_blank')
                  i.fa.fa-facebook-official
                a.social__icon(itemprop='sameAs', href='', title='GitHub', target='_blank')
                  i.fa.fa-github
                a.social__icon(itemprop='sameAs', href='', title='Instagram', target='_blank')
                  i.fa.fa-instagram

              .team__member__desc(itemprop='knows')
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum dolorem itaque maiores sint? Ducimus quod, ea enim, nobis beatae illo numquam nulla maxime, vel soluta a animi! Pariatur, praesentium, est.

          .col-md-3.col-sm-6
            .team__member(itemtype='http://schema.org/Person', itemscope)
              .team__member__name(itemprop='name') Ivan Efremov
                .team__member__labels
                  span.team__label.team__label--backend(itemprop='jobTitle') Back-end

              img.team__member__avatar(itemprop='image', alt='Ivan Efremov')

              .team__member__social
                a.social__icon(itemprop='sameAs', href='', title='Website', target='_blank')
                  i.fa.fa-globe
                a.social__icon(itemprop='sameAs', href='', title='Vkontakte', target='_blank')
                  i.fa.fa-vk
                a.social__icon(itemprop='sameAs', href='', title='Facebook', target='_blank')
                  i.fa.fa-facebook-official
                a.social__icon(itemprop='sameAs', href='', title='GitHub', target='_blank')
                  i.fa.fa-github
                a.social__icon(itemprop='sameAs', href='', title='Instagram', target='_blank')
                  i.fa.fa-instagram

              .team__member__desc(itemprop='knows')
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum dolorem itaque maiores sint? Ducimus quod, ea enim, nobis beatae illo numquam nulla maxime, vel soluta a animi! Pariatur, praesentium, est.

          .col-md-3.col-sm-6
            .team__member(itemtype='http://schema.org/Person', itemscope)
              .team__member__name(itemprop='name') Alex Sharypin
                .team__member__labels
                  span.team__label.team__label--backend(itemprop='jobTitle') Back-end

              img.team__member__avatar(itemprop='image', alt='Alex Sharypin')

              .team__member__social
                a.social__icon(itemprop='sameAs', href='', title='Website', target='_blank')
                  i.fa.fa-globe
                a.social__icon(itemprop='sameAs', href='', title='Vkontakte', target='_blank')
                  i.fa.fa-vk
                a.social__icon(itemprop='sameAs', href='', title='Facebook', target='_blank')
                  i.fa.fa-facebook-official
                a.social__icon(itemprop='sameAs', href='', title='GitHub', target='_blank')
                  i.fa.fa-github
                a.social__icon(itemprop='sameAs', href='', title='Instagram', target='_blank')
                  i.fa.fa-instagram

              .team__member__desc(itemprop='knows')
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum dolorem itaque maiores sint? Ducimus quod, ea enim, nobis beatae illo numquam nulla maxime, vel soluta a animi! Pariatur, praesentium, est.

          .col-md-3.col-sm-6
            .team__member(itemtype='http://schema.org/Person', itemscope)
              .team__member__name(itemprop='name') Nikita Borisowsky
                .team__member__labels
                  span.team__label.team__label--frontend(itemprop='jobTitle') Front-end

              img.team__member__avatar(itemprop='image', alt='Nikita Borisowsky')

              .team__member__social
                a.social__icon(itemprop='sameAs', href='', title='Website', target='_blank')
                  i.fa.fa-globe
                a.social__icon(itemprop='sameAs', href='', title='Vkontakte', target='_blank')
                  i.fa.fa-vk
                a.social__icon(itemprop='sameAs', href='', title='Facebook', target='_blank')
                  i.fa.fa-facebook-official
                a.social__icon(itemprop='sameAs', href='', title='GitHub', target='_blank')
                  i.fa.fa-github
                a.social__icon(itemprop='sameAs', href='', title='Instagram', target='_blank')
                  i.fa.fa-instagram

              .team__member__desc(itemprop='knows')
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum dolorem itaque maiores sint? Ducimus quod, ea enim, nobis beatae illo numquam nulla maxime, vel soluta a animi! Pariatur, praesentium, est.

    section.projects#projects
      .section-title
        h1 Projects
        .container
          .row
            .col-sm-6
              .project
                .projects__title
                  h2
                    a(href='https://joinkaliningrad.ru/') Join Kaliningrad

                img.projects__logo(src='', alt='Join Kaliningrad')

                .projects__description
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus, earum sunt dolor, iure et quidem consequatur qui corporis adipisci quibusdam. Debitis alias velit sapiente quam cupiditate, accusamus. Quasi, molestiae.

            .col-sm-6
              .project
                .projects__title
                  h2
                    a(href='https://postcardbox.ru/') Postcardbox

                img.projects__logo(src='', alt='Postcardbox')

                .projects__description
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At optio consectetur est voluptas perferendis, dignissimos repellendus culpa atque. Cupiditate a eligendi consequatur! Quis facere ut porro possimus suscipit maxime itaque.

    section.contacts#contacts
      .section-title
        h1 Contacts

    footer.footer
      | 2017 &copy #{companyName}

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='js/app.js')
